.navbar {
    background-color: lavender;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    
}

.navbar-brand{
    font-size: x-large;
}

.navbar-text{
    font-style: italic;
    text-align: center;
    font-size: small;  
}